src/template.lua
src/useful_bits.lua
src/out
design.md
src/test.lua
src/old.lua
notes
issues
src/tmp/
src/test/DataDumper.lua
src/test/out
src/test/syscalls.c
src/test/sysproto.h
src/test/init_sysent.c
src/test/syscall.h
src/test/sysent.mk
src/test/systrace_args.c
